<div class="posts">
  <%= render :partial => 'preview', :collection => @posts, :as => :post %>

  <br class="clear"/>

  <%= link_to(image_tag('blog/rss.png', :alt => t('.rss')) + t('.rss'), posts_path(:format => 'rss'), :id => "posts-rss") %>
  <%= will_paginate @posts %>

</div>  

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>
