/* ========================================== 
    Post Archive
*/

.posts {
  position: relative;
}

#posts-rss {
  display: block;
  position: absolute;
  left: 0;
  bottom: 4px;
  line-height: 16px;
  text-decoration: none;
  img {
    display: block;
    float: left;
    margin-right: 5px;
  }
}

.post-archive ul.archive {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
}
.post-archive h4.year,
.post-archive h5.month,
.post-archive ul.archive li span.day {
  display: block;
  position: relative;
  border-bottom: 1px solid #ccc;
  font-size: 17px;
  font-weight: normal;
  margin: 0 0 0.5em 0;
}
.post-archive ul.archive li ul.posts {
  list-style-type: none;
  display: block;
  float: left;
  width: 90%;
  margin: 0 0 1em 0;
  padding: 0;
}
.post-archive ul.archive li ul.posts li {
  margin: 0 0 0.5em 0; 
}


/* ========================================== 
    Post Preview
*/

.post-preview {
  clear: both;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

.post-preview h2 {
  margin-bottom: 0;
}