<table class="index">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% post.post_products.each do |post_product| %>
      <tr id="<%= dom_id post_product %>">
        <td><%= post_product.product.name %></td>
        <td width="70px">
          <%= link_to_delete post_product, {:url => admin_post_product_url(post, post_product)} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>