<h3><%= t("new_product") %></h3>

<% form_for(@post_product, :url => admin_post_products_path(@post), :html => { :multipart => true }) do |form| %>
  <table class="basic-table">
    <%= render "form", :form => form %>
  </table>
  <p class="form-buttons">
    <%= button t("create") %>
    or <%= link_to t("cancel"), "#", :id => "cancel_link" %>
  </p>
<% end %>

<script type="text/javascript">    
  jQuery('#cancel_link').click(function (event) { 
    jQuery('#new_product_link').show();
    jQuery('#products').html('');
  }); 
</script>

 
 
