<div class="left">
  <%= render :partial => 'shared/content', :collection => @page.contents %>
</div>

<div class="right">
  <%= render :partial => 'posts/preview', :collection => @posts, :as => :post %>
</div>