<h1><%= @example.title %></h1>

<div class="markdown-result" style="margin: 0 0 20px 0; padding: 20px; border: 1px solid #ccc;" />
  <%= RDiscount.new(@example.body).to_html.html_safe %>
</div>

<%= link_to "Edit", edit_admin_example_path(@example) %> | 
<%= link_to "Delete", admin_example_path(@example), :method => :delete, :confirm => "Are you sure?" %>
