<h1>Archive</h1>

<div class="archive" style="width: auto;">
  
  <%= render 'posts/archive', :posts => @posts %>
  
  
  <h4>Where to next?</h4>  
  <p class="action">
    <%= link_to "Shop the store", products_path %>
    <%= link_to "Back to articles", posts_path %>
  </p>
  
</div>
